.settings-container {
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  padding: 40px;
  background: #f9f9f9;
  font-family: Arial, sans-serif;
}

.settings-content {
    max-width: 600px;
    /* min-height: 100vh; */
    background: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  
}


.settings-section {
  margin-bottom: 40px;
}

.settings-section h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.settings-section hr {
  margin-bottom: 20px;
  border: none;
  height: 2px;
  background-color: #eee;
}

.settings-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.settings-form label {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #444;
}

.settings-form input {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.settings-form input:focus {
  border-color: #007bff;
}

.settings-form button {
  align-self: flex-start;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.settings-form button:hover {
  background-color: #0056b3;
}
